@import "../../sass/variables.scss";

.chat-box-other {
  display: flex;
  justify-content: start;
  margin-bottom: 2rem;
  &__message {
    background-color: $color-primary;
    color: $color-white;
    padding: 1rem;
    margin-left: 2rem;
    overflow: hidden;
  }

  &__image {
    height: 4rem;
    border-radius: 50%;
  }

  .pointer {
    height: 3rem;
    width: 2rem;
    background-color: $color-primary;
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
    position: relative;
    top: 0rem;
    left: 6.8rem;
  }
}
