@import '../../sass/variables.scss';
@import "../../sass/mixins.scss";

.geo-location-map {
    font-size: 1.8rem;
    width: 100%;
    height: 100vh;

    @include response(phone){
        padding: 0 1rem;
    }
}