@import "../../sass/mixins.scss";
@import '../../sass/variables.scss';

.restaurant-module-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .navigation{
        display: flex;
        gap: 4rem;

    }
    &__logo{
        height: 4rem;
    }

    &__nav{
        font-size: 1.5rem;

        display: flex;
        align-items: center;
        gap: 2rem;
        &--item{
            list-style-type: none;
        }
        &--link{
            text-decoration: none;
            color: $color-white;
        }
        &--item:hover > &--link{
            color: $color-primary;
        }

    }

    .functionalities {
        display: flex;
        align-items: center;
        gap: 1rem;

        .search-icon {
            width: 1.5rem;
            height: 1.5rem;       
        }

        .mail-icon {
            width: 2rem;
            height: 1.5rem;
        }

        .notification-icon {
            width: 1.5rem;
            height: 2rem;
        }
    }
}