@import '../../sass/variables.scss';
@import "../../sass/mixins.scss";

.status-menu {
    padding: 2rem;

    .nav{
        font-size: 1.3rem;

        @include response(phone){
            display: flex;
            justify-content: space-between;
        }

        &__item{
            list-style-type: none;
            &:not(:last-child){
                margin-bottom: 1.5rem;
            }

            display: flex;
            justify-content: space-between;

            @include response(phone){
                display: flex;
                gap: 2rem;
            }
        }
        &__link{
            text-decoration: none;
            color: $color-white;
        }
        .counter{
            height: 2.2rem;
            width: 2.2rem;
            border-radius: 50%;

            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        .counter-color-new{
            background-color: $color-white;
            color: $color-primary;
        }
        .counter-color-confirmed{
            background-color: $color-primary;
            color: $color-white;
        }
        .counter-color-declined{
            background-color: $color-yellow-light;
            color: $color-dark;
        }
        .counter-color-cancelled{
            background-color: $color-red-light;
            color: $color-white;
        }
    }    
}