
// COLORS VARIABLES

$color-primary: #1F8461;

$color-dark: #000000;
$color-grey: #242424;
$color-grey-light: #707070;

$color-white: #FFFFFF;

$color-yellow: #FFC529;
$color-yellow-light: #FFDB79;

$color-green: #1DCE91;
$color-green-light: #4DBE23;

$color-blue: #2984FF;
$color-blue-light: #16BDE5;

$color-purple: #6B29FF;
$color-red-light: #E35C6B;
$color-orange: #C1691E;

// FONT VARIABLE
