@import '../../sass/variables.scss';
@import "../../sass/mixins.scss";

.report {
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: [live-start] 1fr [live-end calendar-start] 25% [calendar-end];
    grid-gap: 2rem;

    @include response(phone){
        display: grid;
        grid-template-columns: [full-start] 1fr [full-end];
        grid-template-rows: repeat(2, [row-start] min-content [row-end]);
        grid-gap: 2rem;

        padding: 0 1rem;
    }

    &__main {
        grid-column: live-start / live-end;

        @include response(phone){
            grid-column: full-start / full-end;
            grid-row: row-start 1 / row-end 1;
        }

        background-color: $color-grey;
        padding: 2rem;
        
        &--header {
            @include horizontal-flex-space-between;
            margin-bottom: 2rem;
            .live {
                display: inline;
            }
        }

        &--body {
            height: 50rem;
            // background-color: black;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .live-reports {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);

                .report-block {
                    background-color: $color-primary;
                    border: 1px solid $color-primary;
                    height: 20rem;

                    &:hover {
                        border: 1px solid lightblue;
                    }
                }

                .first-block {
                    grid-row: span 2;
                    height: 40.0rem;
                }
            }
        }
    }

    &__sidebar {
        grid-column: calendar-start / calendar-end;

        @include response(phone){
            grid-column: full-start / full-end;
            grid-row: row-start 2 / row-end 2;
        }

        &--calendar-area{
            @include response(phone){
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        background-color: $color-grey;
        padding: 2rem;
    }
}