@import '../../sass/variables.scss';

.dashboard{
    padding: 5.8rem;
    background-color: $color-dark;

    display: grid;
    grid-template-columns: 32.9rem 1fr;
    grid-gap: 3rem;
}

.sidebar{
    // background-color: blue;
}
.main-body{
    background-color: green;
}