@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.sidebar{
    width: 25rem;

    transition: all .3s;

    &__header{
        .logo{
            width: 5rem;
        }
    }
    &__nav{
        padding-top: 4rem;
        .side-nav{
            
            &__item{
                list-style-type: none;
            }
            &__item,
            &__sub-item{
                list-style-type: none;
                position: static;
            }

            .display-none{
                display: none;
            }
            
            &__icon{
                height: 2.5rem;
                max-width: 2.5rem;

                display: flex;
                align-items: center;
                justify-content: center;
            }
            
            &__link,
            &__sub-link{
                color: $color-white;
                text-decoration: none;
                font-size: 1.4rem;
                padding: 1rem;

                display: flex;
                align-items: center;
                gap: 2rem;

                &:hover{
                    background-color: $color-primary;
                }
                
                .link-content{
                    width: 100%;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                .text{
                    white-space: nowrap;
                }
                .display-none{
                    display: none;
                }

                .arrow{
                    margin-left: auto;
                    height: 1.4rem;
                }
            }
            &__sub-link{
                color: $color-white;
                text-decoration: none;
                margin-left: 4.5rem;

            }
        }
    }
}

.active{
    width: 4.5rem;
}
