@import '../../sass/variables.scss';

.search{
    position: relative;
    &__input{
        height: 3rem;
        border: none;
        padding: 0 1rem;
        border: 2px solid $color-white;                  
    }
    &__input:focus{
        outline: none;
        border: 2px solid $color-primary;
    }
    &__button{
        height: 3rem;
        width: 3rem;
        cursor: pointer;
        background-color: $color-white;
        border: none;

        position: absolute;
        right: 0;
        top: 0;

        &--icon{
            height: 1.5rem;
        }
    }

}