@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.item {
    font-size: 1.3rem;
    margin: 0 1rem;
    

    &__image {
        width: 100%;
    }

    .title-btn-wrapper {
        @include horizontal-flex-space-between;

        .item-btn {
            font-size: 1.0rem;
            color: $color-white;
            background-color: $color-primary;
            border: none;
            padding: 0.3rem 0.75rem;
            margin-left: auto;
        }
    }
}