@import '../../sass/variables.scss';
@import "../../sass/mixins.scss";

.geo-location-map-region {
    display: grid;
    grid-template-columns: [main-start] 1fr [main-end details-start] 25% [details-end];
    grid-gap: 2rem;
    font-size: 1.3rem;

    @include response(phone){
        display: grid;
        grid-template-columns: [full-start] 1fr [full-end];
        grid-template-rows: repeat(2, [row-start] min-content [row-end]);
        grid-gap: 2rem;

        padding: 0 1rem;
    }

    &__main {
        grid-column: main-start / main-end;

        @include response(phone){
            grid-column: full-start / full-end;
            grid-row: row-start 1 / row-end 1;

            height: 100vh;
        }
    }

    &__details {
        grid-column: details-start / details-end;

        @include response(phone){
            grid-column: full-start / full-end;
            grid-row: row-start 2 / row-end 2;
        }

        background-color: $color-grey;
        padding: 2rem;

        .region {
            @include horizontal-flex-space-between;
            margin-bottom: 1.5rem;

            .city {

                .active-guests {
                    font-size: 1.4rem;
                }
            }

            .time-period {
                text-align: right;
                .last-updated {
                    font-size: 1.4rem;
                    color: $color-grey-light;
                }
            }
        }
        
        .map-small {
            background-color: $color-grey-light;
            height: 20.0rem;
            margin-bottom: 1.5rem;
        }

        .most-popular-locations {

            .most-popular-locations-title {
                font-size: 1.4rem;
                margin-bottom: 1.5rem;
            }

            .location-items-wrapper {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }
        }
    }
}