@import '../../sass/variables.scss';
@import "../../sass/mixins.scss";

.geo-location-map-region {
    display: grid;
    grid-template-columns: [lcol-start] 1fr [lcol-end scol-start] 25% [scol-end];
    grid-gap: 2rem;
    font-size: 1.8rem;

    &__main {
        background-color: $color-grey;
    }

    &__details {
        background-color: $color-grey;
        padding: 2rem;

        .region {
            @include horizontal-flex-space-between;
            .city {
                .active-guests {
                    font-size: 1.4rem;
                }
            }
        }

        .time-period {
            .last-updated {
                font-size: 1.4rem;
            }
        }
    }
}