@import '../../sass/variables.scss';

.chat-box{
    padding: 1rem 1.5rem;
    border-bottom: 1px solid $color-grey-light;
    cursor: pointer;

    
    display: flex;
    gap: 1rem;
    
    &:hover{
        background-color: $color-primary;
    }

    .image{
        height: 4rem;
        border-radius: 50%;
    }
    &__info{
        position: relative;
        
        .title{
            font-size: 1.3rem;
        }
        .last-text{
    
        }
        .time{
    
        }
        .counter{
            background-color: $color-primary;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 50%;
            color: white;
            text-align: center;

            position: absolute;
            top: 0;
            right: 0;
        }
    }
    &:hover > &__info > .counter{
        background-color: $color-white;
        color: $color-dark;
    }
}