@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.inside-sidebar{

    .heading{
        margin-bottom: 3rem;
    }
    .side-nav{

        @include response(phone){
            display: flex;
            gap: 1rem;
            justify-content: space-between;
        }

        &__item{
            list-style-type: none;
            cursor: pointer;
            &:not(:last-child){
                margin-bottom: 1rem;
            }
        }
        &__link{
            color: $color-white;
            font-size: 1.4rem;
            text-decoration: none;

            display: flex;
        }
        &__link:hover{
            color: $color-primary;
        }
    }
}