@import '../../sass/variables.scss';

.requests{
    display: grid;
    grid-template-rows: repeat(2, [row-start] min-content [row-end]);
    grid-template-columns: [communi-start] 1fr [communi-end request-start] 25% [request-end];
    grid-gap: 2rem;

    &__communication{
        grid-column: communi-start / communi-end;
        grid-row: row-start 1 / row-end 2;

        background-color: $color-grey;

        display:grid;
        grid-template-columns: [previous-start] 40% [previous-end current-start] 60% [current-end];

        &--previous-chat{
            border-right: 1px solid $color-grey-light;
            padding-bottom: 1rem;

            display: flex;
            flex-direction: column;

            .search-area{
                padding: 2rem;
                border-bottom: 1px solid $color-grey-light;


                display: flex;
                justify-content: space-between;

                .edit-btn{
                    background-color: transparent;
                    border: 2px solid $color-white;
                    padding: .4rem;
                }
            }
            .drop-down-box{
                margin-top: auto;
            }
        }
        &--current-chat{
            display: grid;
            grid-template-rows: [header-start] 7.1rem [header-end chat-start] 1fr [chat-end typing-start] 15% [typing-end];

            .chat-header{
                grid-row: header-start / header-end;
                
                padding: 2rem;
                font-size: 1.3rem;
                border-bottom: 1px solid $color-grey-light;

                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .chat-area{
                grid-row: chat-start / chat-end;
            }
            .text-area{
                grid-row: typing-start / typing-end;

                background-color: $color-white;

                .text-box{
                    height: 100%;
                    border: none;
                }
                .submit-btn{
                    background-color: transparent;
                    border: none;
                }
            }
        }
    }

    &__card-requests{
        grid-column: request-start / request-end;
        grid-row: row-start 1 / row-end 1;

        background-color: $color-grey;

        &--header{
            padding: 2rem;
            border-bottom: 1px solid $color-grey-light;

            display: flex;
            justify-content: space-between;

            p{
                font-size: 1.3rem;
            }
            .all-card-request{
                font-size: 1.1rem;
                text-decoration: none;
                color: $color-white;
            }
            .all-card-request:hover,
            .all-card-request:active{
                color: $color-primary;
            }
        }
    }

    &__connect-requests{
        grid-column: request-start / request-end;
        grid-row: row-start 2 / row-end 2;

        background-color: $color-grey;

        &--header{
            padding: 2rem;
            border-bottom: 1px solid $color-grey-light;

            display: flex;
            justify-content: space-between;

            p{
                font-size: 1.3rem;
            }
            .all-connect-request{
                font-size: 1.1rem;
                text-decoration: none;
                color: $color-white;
            }
            .all-connect-request:hover,
            .all-connect-request:active{
                color: $color-primary;
            }
        }
    }
}


