@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.requests{
    display: grid;
    grid-template-columns: [communi-start] 1fr [communi-end request-start] 25% [request-end];
    grid-template-rows: repeat(2, [row-start] min-content [row-end]);
    grid-gap: 2rem;

    @include response(phone){
        display: grid;
        grid-template-columns: [full-start] 1fr [full-end];
        grid-template-rows: repeat(3, [row-start] min-content [row-end]);
        grid-gap: 2rem;

        padding: 0 1rem;
    }

    &__communication{
        grid-column: communi-start / communi-end;
        grid-row: row-start 1 / row-end 2;

        @include response(phone){
            grid-column: full-start / full-end;
            grid-row: row-start 1 / row-end 1;
        }

        background-color: $color-grey;

        display:grid;
        grid-template-columns: [previous-start] 40% [previous-end current-start] 60% [current-end];

        &--previous-chat{
            border-right: 1px solid $color-grey-light;
            padding-bottom: 1rem;

            display: flex;
            flex-direction: column;

            .search-area{
                padding: 2rem;
                border-bottom: 1px solid $color-grey-light;


                display: flex;
                justify-content: space-between;
                gap: 1rem;

                .edit-btn{
                    background-color: transparent;
                    border: 1.5px solid $color-white;
                    padding: .4rem;

                    @include response(tab-port){
                        padding: .3rem;
                    }

                    &__icon{
                        @include response(tab-port){
                            height: 1.5rem;
                            width: 1.5rem;
                        }
                    }
                }
            }
            .drop-down-box{
                margin-top: auto;
            }
        }
        &--current-chat{
            display: grid;
            grid-template-rows: [header-start] 7.1rem [header-end chat-start] 1fr [chat-end typing-start] 10% [typing-end];

            .chat-header{
                grid-row: header-start / header-end;
                
                padding: 2rem;
                font-size: 1.3rem;
                border-bottom: 1px solid $color-grey-light;

                display: flex;
                justify-content: space-between;
                align-items: center;

                &__btn-container{
                    position: relative;

                    .option-btn{
                        background-color: transparent;
                        padding: 0 .5rem;
                        height: 1.5rem;
                        display: flex;
                        align-items: center;
                        border: none;
                        cursor: pointer;

                        &__icon{
                            width: 2rem;
                        }
                    }
                    .option-dd{
                        background-color: $color-dark;
                        padding: 1rem;

                        position: absolute;
                        right: 0;
                        z-index: 1000000;

                        display: none;

                        &__item{
                            width: 10rem;
                        }
                        &__list{
                            list-style-type: none;
                            text-align: center;

                            &:not(:last-child){
                                margin-bottom: 1rem;
                            }
                        }
                        &__link{
                            text-decoration: none;
                            display: block;
                            font-size: 1.4rem;
                            color: $color-white;
                            padding: .5rem;

                            &:hover{
                                background-color: $color-grey;
                            }
                        }
                    }
                }

                .visible{
                    display: inline;
                }
            }
            .chat-area{
                grid-row: chat-start / chat-end;

                padding: 2rem;
                font-size: 1.3rem;
            }
            .text-area{
                grid-row: typing-start / typing-end;

                background-color: $color-white;
                padding-right: 1rem;

                display: flex;
                align-items: center;


                .text-box{
                    height: 100%;
                    width: 100%;
                    border: none;
                    padding: 1rem;
                }
                .submit-btn{
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }

    &__card-requests{
        grid-column: request-start / request-end;
        grid-row: row-start 1 / row-end 1;

        @include response(phone){
            grid-column: full-start / full-end;
            grid-row: row-start 2 / row-end 2;
        }

        background-color: $color-grey;

        &--header{
            padding: 2rem;
            border-bottom: 1px solid $color-grey-light;

            display: flex;
            justify-content: space-between;

            p{
                font-size: 1.3rem;
            }
            .all-card-request{
                font-size: 1.1rem;
                text-decoration: none;
                color: $color-white;
            }
            .all-card-request:hover,
            .all-card-request:active{
                color: $color-primary;
            }
        }
    }

    &__connect-requests{
        grid-column: request-start / request-end;
        grid-row: row-start 2 / row-end 2;

        @include response(phone){
            grid-column: full-start / full-end;
            grid-row: row-start 3 / row-end 3;
        }

        background-color: $color-grey;

        &--header{
            padding: 2rem;
            border-bottom: 1px solid $color-grey-light;

            display: flex;
            justify-content: space-between;

            p{
                font-size: 1.3rem;
            }
            .all-connect-request{
                font-size: 1.1rem;
                text-decoration: none;
                color: $color-white;
            }
            .all-connect-request:hover,
            .all-connect-request:active{
                color: $color-primary;
            }
        }
    }
}


