@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.header{
    height: 6rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include response(phone){
        padding: 0 1rem;
    }

    &__nav{
        display: flex;
        align-items: center;
        gap: 3rem;

        @include response(phone){
            gap: 2rem;
        }

        .nav-icon{
            
            @include response (desktop){
                display: none;
            }
            @include response (tab-port){
                display: inline;
            }
            @include response(phone){
                display: inline;
            }
        }
        .nav-btn{
            background-color: transparent;
            border: none;
            cursor: pointer;

            .menu-icon{
                width: 2.2rem;
            }
        }
    }

    &__heading{
        font-size: 3rem;
        font-weight: 300;
        white-space: nowrap;

        @include response(phone){
            font-size: 2rem;
        }
    }

    &__status{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5rem;

        @include response(phone){
            gap: 1.5rem;
        }

        &--notification{
            display: flex;
            align-items: center;
            gap: 2rem;

            @include response(phone){
                gap: 1rem;
            }

            .search-bar{
                border: 1.5px solid transparent;
                height: 2.8rem;
                width: 2.8rem;
                display: flex;
                border-radius: 5rem;
                overflow: hidden;
                transition: width 300ms cubic-bezier(0.09, 0.5, 0.29, 0.93);

                position: relative;

                &__input{
                    flex-grow: 1;

                    background-color: transparent;
                    border: none;
                    width: 11.7rem;
                    padding: 0 .5rem;
                    color: $color-white;
                    cursor: pointer;
                    transition: all 300ms cubic-bezier(0.09, 0.5, 0.29, 0.93);
                    opacity: 0;

                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;

                    &:focus{
                        outline: 0;
                    }
                }
                &__submit{
                    background-color: transparent;
                    border: none;
                    width: 2.5rem;
                    border-radius: 50%;
                    margin-left: auto;
                    cursor: pointer;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                
                &:focus-within{
                    width: 15rem;
                    border: 1.5px solid $color-primary;

                    .search-bar__input{
                        margin-right: 2.8rem;
                        opacity: 1;
                    }
                }
            }

            .btn-container{
                // cursor: pointer;

                position: relative;

                
                .notifi-btn{
                    height: 2rem;
                    background-color: transparent;
                    cursor: pointer;
                    border: none;

    
                    display: flex;
                    align-items: center;
                }
                .counter{
                    background-color: $color-primary;
                    color: $color-white;
                    height: 1rem;
                    width: 1rem;
                    border-radius: 50%;
                    font-size: .8rem;
                    text-align: center;

                    position: absolute;
                    top: -.15rem;
                    right: -.15rem;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .icon-search{
                height: 1.5rem;
                width: 1.5rem;
            }
            .icon-mail{
                height: 1.5rem;
                width: 2rem;
            }
            .icon-notifi{
                height: 1.938rem;
                width: 1.5rem;

            }

            .message-dd{
                background-color: rgba($color: $color-primary, $alpha: .95);
                padding: 1.5rem;
                margin-top: 1rem;
                width: 33rem;
                border: 1px solid $color-primary;

                
                position: absolute;
                right: 0;
                z-index: 10000;
                
                display: none;

                @include response(phone){
                    border: 1px solid $color-dark;
                    width: 33rem;
                    margin-top: 2rem;
                    right: -8rem;
                }
            }

            .notification-dd{
                background-color: rgba($color: $color-primary, $alpha: .95);
                padding: 1.5rem;
                margin-top: 1rem;
                width: 25rem;
                border: 1px solid $color-primary;
                
                position: absolute;
                right: 0;
                z-index: 10000;

                display: none;

                @include response(phone){
                    border: 1px solid $color-dark;
                }

                
                &__item{
                    font-size: 1.2rem;
                    padding: 1rem 0;
                    
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    cursor: pointer;
                    
                    &:hover{
                        background-color: $color-primary;
                    }

                    &:not(:last-child){
                        border-bottom: 1px solid $color-green;
                    }

                    .notif-icon{
                        font-size: 1.6rem;
                    }
                }
            }

            .horizontal-line{
                height: 1px;
                border: none;
                background-color: $color-dark
            }


        }

        .visible{
            display: inline;
        }

        &--profile{
            position: relative;

        }
        
        &--profile-btn{
            border-radius: 3rem;
            border: 1px solid transparent;
            padding: .3rem;
            background-color: transparent;
            color: $color-white;
            cursor: pointer;

            display: flex;
            align-items: center;

            &:hover,
            &:focus{
                border: 1px solid $color-primary;
            }

            .image{
                height: 4rem;
                border-radius: 50%;
                margin-left: 1rem;
            }
        }

        &--profile-dd{
            background-color: $color-primary;
            padding: 1.5rem;
            margin-top: 1rem;
            width: 100%;
            border: 1px solid $color-primary;
            
            position: absolute;
            z-index: 10000;

            display: none;

            @include response(phone){
                border: 1px solid $color-dark;
            }
            
        }
        &--profile-dd::before{
            content: '';
            height: 1.5rem;
            width: 1.5rem;
            display: block;
            background-color: $color-primary;
            transform: rotate(40deg);

            position: absolute;
            top: -.5rem;
            right: 1.5rem;
        }

        &--profile-dd-item{
            font-size: 1.5rem;
        }

        &--profile-dd-list{
            list-style-type: none;

            &:not(:last-child){
                margin-bottom: 1rem;
            }
            .sign-out:hover{
                color: $color-red-light;
            }
        }
        &--profile-dd-link{
            text-decoration: none;
            color: $color-white;

            display: flex;
            gap: 1rem;

            &:hover{
                color: black;
            }


            .profile-icon{
                font-size: 1.6rem;
            }
        }
    }
}