@import '../../sass/mixins.scss';

.header{
    height: 6rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__nav{
        display: flex;
        align-items: center;
        gap: 1rem;

        .nav-icon{
            
            @include response (tab-port){
                display: inline-block;
            }
            @include response (tab-land){
                display: none;
            }
        }
    }

    &__heading{
        font-size: 3rem;
        font-weight: 300;
        margin-left: 1rem;
    }

    &__status{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4rem;

        &--notification{

            .icon{
                &:not(:last-child){
                    margin-right: 2rem;
                }
            }
            .icon-search{
                height: 1.5rem;
                width: 1.5rem;
            }
            .icon-mail{
                height: 1.5rem;
                width: 2rem;
            }
            .icon-notif{
                height: 1.938rem;
                width: 1.5rem;
            }
        }

        &--profile{
            display: flex;
            align-items: center;

            .image{
                height: 4rem;
                border-radius: 50%;
                margin-left: 1rem;
            }
        }
    }
}