@import '../../sass/variables.scss';
@import "../../sass/mixins.scss";


.declined-item {
    // background-color: orange;
    font-weight: medium;
    display: grid;
    grid-template-columns: 42.5rem auto;
    margin-bottom: 1.5rem;

    .declined-item-actions {
        // background-color: orange;
        display: flex;

        ul {
            // background-color: indigo;
            display: flex;
            list-style-type: none;
            margin-left: auto;

            li {
                margin-right: 1.5rem;
                font-weight: medium;
                cursor: pointer;
            }

            .approve {
                color: $color-primary;
            }

            .propose {
                margin-right: 0rem;
            }
        }
    }
}