@import '../../sass/variables.scss';
@import "../../sass/mixins.scss";


.restaurant-module{
    padding: 5rem 20rem;

    display: grid;
    grid-template-columns: [col-1-start] 20% [col-1-end col-2-start] 1fr [col-2-end];
    grid-template-rows: repeat(3, [row-start] min-content [row-end]);
    grid-gap: 2rem;

    @include response(tab-port){
        padding: 1rem;
    }
    @include response(phone){
        display: grid;
        grid-template-columns: [col-1-start] 20% [col-1-end col-2-start] 1fr [col-2-end];
        grid-template-rows: repeat(4, [row-start] min-content [row-end]);
        grid-gap: 2rem;

        padding: 1rem;
    }

    &__header{
        grid-column: col-1-start / col-2-end;
        grid-row: row-start 1 / row-end 1;
    }
    &__logo{
        grid-column: col-1-start / col-1-end;
        grid-row: row-start 2 / row-end 2;

        background-color: white;
        height: 7rem;

        .logo{
            height: 100%;
            width: 100%;
        }
    }
    &__sub-header{
        grid-column: col-2-start / col-2-end;
        grid-row: row-start 2 / row-end 2;
        background-color: $color-primary;

        padding: 2rem;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__side-bar{
        grid-column: col-1-start / col-1-end;
        grid-row: row-start 3 / row-end 3;

        @include response(phone){
            grid-column: col-1-start / col-2-end;
            grid-row: row-start 3 / row-end 3;
        }

        background-color: $color-grey;
    }
    &__body{        
        grid-column: col-2-start / col-2-end;
        grid-row: row-start 3 / row-end 3;

        @include response(phone){
            grid-column: col-1-start / col-2-end;
            grid-row: row-start 4 / row-end 4;
        }
        
        background-color: $color-grey;

        &--main{

        }
        &--main-header{
            font-size: 1.3rem;
            padding: 2rem;

            display: flex;
            justify-content: space-between;
            align-items: center;

            .active-status{
                &__color{
                    background-color: $color-primary;
                    display: inline-block;
                    height: .8rem;
                    width: .8rem;
                    border-radius: 50%;
                    margin-right: .5rem;
                }
            }
            .group{
                display: flex;
                align-items: center;
                gap: 2rem;
            }
        }
        &--main-content{
                        
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 3rem;

            .restaurant-info{
                font-size: 1.2rem;
                .tag {
                    color: $color-primary;
                    margin-bottom: 3rem;

                    display: flex;
                    gap: 1rem;

                    .tag-item {
                        border: 1px solid $color-primary;
                        padding: 0 0.75rem;
                    }
                }
                .group-btn{
                    margin-top: 3rem;
                    .btn {
                        color: $color-white;
                        background-color: $color-primary;
                        text-decoration: none;
                        border: none;
                        padding: .3rem .7rem;

                        &:not(:last-child){
                            margin-right: 1rem;
                        }
                    }
                }
            }
            .contact{

            }

        }
        &--main-new{
            font-size: 1.2rem;
        }
        &--main-confirmed{
            font-size: 1.2rem;
        }
        &--main-declined{
            font-size: 1.2rem;
        }
        .section{
            padding: 2rem;
            &:not(:last-child){
                border-bottom: 1px solid $color-grey-light;
            }
        }
    }
}

    