@import '../../sass/variables.scss';

.sidebar{
    padding: 0 1.7rem;
    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__nav{
        margin-top: 4.6rem;

        .side-nav{
            &__item{
                list-style-type: none;
                &:not(:last-child){
                    margin-bottom: 2rem;
                }
            }
            
            &__link{
                color: $color-white;
                font-size: 1.4rem;
                text-decoration: none;
                list-style-type: none;
                // background-color: brown;

                
                display: flex;
                align-items: center;
                gap: 1.3rem;

                .arrow{
                    margin-left: auto;
                    height: 1.2rem;
                }
            }
        }
    }

    &__logo{
        height: 5rem;
    }

    &__nav-icon{
        &,
        &::before,
        &::after{
            background-color: $color-white;
            height: 3px;
            width: 2rem;
            display: inline-block;
            position: relative;
            border-radius: 50rem;
            // transition: all .3s;
        }

        &::before,
        &::after{
            content: '';
            position: absolute;
            left: 0;
            transition: all .3s;
        }

        &::before{top: -.8rem;}
        &::after{top: .8rem;}
    }
}