@import '../../sass/variables.scss';
@import "../../sass/mixins.scss";

.contact-item {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;

    &__info {
        display: flex;
        cursor: pointer;

        &--image {
            margin-right: 1.5rem;
            height: 3.5rem;
        }
        
        &--details {
            font-size: 1.2rem;
            font-weight: regular;
            display: flex;
            flex-direction: column;
        }
    }

    &__action {

        display: flex;
        gap: 1rem;
        .action-icon {
            
        }
        .call-icon {
            height: 1.3rem;
            width: 1.3rem;
        }
        .mail-icon {
            height: 1.5rem;
            width: 1.5rem;
        }
        .mail-icon{
            height: 1.5rem;
            width: 1.5rem;
        }
    }

    &:last-child {
        margin-bottom: none;
    }
}