@import '../../sass/variables.scss';
@import "../../sass/mixins.scss";

.lifestyle-managers {
    // background-color: orange;
    font-size: 1.3rem;
    display: grid;
    grid-template-columns: [full-start body-start] 1fr [body-end calendar-start] 25% [calendar-end full-end];
    grid-template-rows: repeat(4, [row-start] min-content [row-end]);
    grid-gap: 2rem;

    @include response(phone){
        grid-template-columns: [full-start] 1fr [full-end];
        grid-row: repeat(4, min-content);
    }

    .card {
        background-color: $color-grey;
        padding: 2.0rem;
    }

    &__summary {
        grid-column: body-start / body-end;
        grid-row: row-start 1 / row-end 1;

        @include response(phone){
            grid-column: full-start / full-end;
            grid-row: row-start 1 / row-end 1;
        }
        
        display: grid;
        grid-template-columns: 1fr max-content;
        grid-gap: 2rem;

        .requests-data {
            display: flex;
            flex-direction: column;
            align-items: center;

            .requests-no {
                font-size: 3.0rem;
            }

            .requests-increment {
                .increment-percentage {
                    color: $color-green;
                }
            }
        }
    }

    &__calendar {
        grid-column: calendar-start / calendar-end;
        grid-row: row-start 1 / row-end 2;

        display: flex;
        justify-content: center;

        @include response(phone){
            grid-column: full-start / full-end;
            grid-row: row-start 3 / row-start 3;
        }
    }

    &__main {
        grid-column: body-start / body-end;
        grid-row: row-start 2 / row-end 4;

        @include response(phone){
            grid-column: full-start / full-end;
            grid-row: row-start 2 / row-end 2;
        }

        .dropdown-menu {
            text-align: right;
            margin-bottom: 3.0rem;
            
            .dropdown-green-icon {
                margin-left: 0.75rem;
            }
        }

        .lifestyle-managers-body-title {
            white-space: nowrap;
            display: grid;
            grid-template-columns: 5.0rem 19.7rem repeat(3, 1fr);
            grid-gap: 2.0rem;
            margin-bottom: 2.5rem;
        }

        table {
            border-collapse: collapse;
            width: 100%;

            tbody {
                tr {
                    .active-requests {
                        font-size: 2.0rem;
                        color: $color-primary;

                        &:hover {
                            color: $color-white;
                        }
                    }
                    .completed-requests {
                        font-size: 2.0rem;
                    }
                }
            }
        }
            
        table td, table th {
            padding: 0.5rem;
        }   
            
        table .tbody-row:hover {
            background-color: $color-primary;
        }
            
        table th {
            padding-top: 1.2rem;
            padding-bottom: 1.2rem;
            text-align: left;
            color: $color-white;
        }
        .image-td{
            display: flex;
            justify-content: center;
            align-items: center;
            .img{
                height: 4rem;
                border-radius: 50%;
            }
        }
    }

    .users-count{
        grid-column: calendar-start / calendar-end;
        grid-row: row-start 3 / row-end 4;

        @include response(phone){
            grid-column: full-start / full-end;
            grid-row: row-start 4 / row-end 4;
        }

        display: flex;
        align-items: center;
        justify-content: center;
        
        .users-count-content {
            .total-users {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 2rem;

                .total-users-no {
                    font-size: 3.0rem;
                }
            }

            .new-users {
                display: flex;
                flex-direction: column;
                align-items: center;

                .new-users-no {
                    font-size: 3.0rem;
                }
            }
        }
    }
}