@import './sass/variables.scss';
@import './sass/mixins.scss';

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-family: sans-serif;
    background-color: $color-dark;
    color: $color-white;
    font-weight: 300;
    line-height: 1.6;
}

.admin-panel{
    padding: 2rem;
    background-color: $color-dark;

    display: grid;
    grid-template-columns: [sidebar-start] 20% [sidebar-end body-start] 1fr [body-end];
    grid-gap: 3rem;

    &__sidebar{
        grid-column: sidebar-start / sidebar-end;
    }
    &__body{
        grid-column: body-start / body-end;
    }
}