@import './sass/variables.scss';
@import './sass/mixins.scss';

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; // size 1rem = 10px

    @include response (desktop){
        font-size: 50%; // size 1rem = 8px
    }
}

body{
    font-family: sans-serif;
    background-color: $color-dark;
    color: $color-white;
    font-weight: 300;
    line-height: 1.6;
}

.admin-panel{
    padding: 2rem;
    background-color: $color-dark;

    display: grid;
    grid-template-columns: [full-start sidebar-start] min-content [sidebar-end body-start] 1fr [body-end full-end];
    grid-template-rows: [header-start] 6rem [header-end row-start] min-content [row-end];
    grid-gap: 3rem;

    @include response (tab-port){
        display: grid;
        grid-template-columns: [full-start] 1fr [full-end];
        grid-template-rows: [header-start] 6rem [header-end row-start] min-content [row-end];
        grid-gap: 3rem;
    }

    @include response(phone){
        padding: 0;
    }

    &__header{
        grid-column: body-start / body-end;
        grid-row: header-start / header-end;

        @include response(tab-port){
            grid-column: full-start / full-end;
            grid-row: header-start / header-end;
        }

    }

    &__sidebar{
        grid-column: sidebar-start / sidebar-end;
        grid-row: header-start / -1;

        background-color: $color-dark;

        @include response (tab-port){
            padding: 0 2rem;
            position: absolute;
            top: 10.5rem;
            left: -6.5rem;
            z-index: 1000;
        }

        @include response (phone){
            top: 8.8rem;
            left: -8.5rem;
        }
    }
    &__body{
        grid-column: body-start / body-end;
        grid-row: row-start / -1;

        @include response(tab-port){
            grid-column: full-start / full-end;
        }
    }
}