@import './sass/variables.scss';
@import './sass/mixins.scss';

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; // size 1rem = 10px

    @include response (desktop){
        font-size: 50%;
    }
    @include response(phone){
        font-size: 62.5%;
    }
}

body{
    font-family: sans-serif;
    background-color: $color-dark;
    color: $color-white;
    font-weight: 300;
    line-height: 1.6;
}

.admin-panel{
    padding: 2rem;
    background-color: $color-dark;

    display: grid;
    grid-template-columns: [sidebar-start] minmax(min-content, max-content) [sidebar-end body-start] 1fr [body-end];
    grid-gap: 3rem;

    @include response (tab-port){
        display: grid;
        grid-template-columns: [body-start] 1fr [body-end];
    }

    @include response(phone){
        padding: 0;
    }

    &__sidebar{
        background-color: aqua;
        grid-column: sidebar-start / sidebar-end;
        @include response (tab-port){
            display: none;
        }
    }
    &__body{
        background-color: aquamarine;
        grid-column: body-start / body-end;
    }
}