@import '../../sass/variables.scss';
@import "../../sass/mixins.scss";

.events {
    font-size: 1.8rem;
    display: grid;
    grid-template-columns: 1fr 25%;
    grid-gap: 2rem;
    padding: 2rem;

    div {
        background: $color-grey;
    }

    .events-body {
        padding: 2rem;

        .events-body-most-popular {
            @include horizontal-flex-space-between;
            // margin-bottom: 1.5rem;

            .events-body-functionalities {
                display: flex;
                gap: 0.5rem;

                .btn {
                    background-color: $color-primary;
                    color: $color-white;
                    padding: 0 .5rem;
                    border: none;
                }
            }
        }

        .event-item-wrapper {
            margin-top: 1.5rem;
            // background-color: violet;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 1.5rem;
            position: relative;

            .arrow-right-icon {
                position: absolute;
                right: 0.75rem;
                top: 35%; 
            }
        }

        .events-body-upcoming-title {
            margin-top: 3.0rem;
        }

        .events-body-ending-soon-title {
            margin-top: 3.0rem;
        }
    }

}