@import '../../sass/variables.scss';

.categorie{
    background-size: cover;
    padding: .5rem;

    display: flex;
    align-items: flex-end;

    .tag{
        font-size: 1.2rem;
        line-height: 1;
        background-color: $color-primary;
        padding: .3rem .5rem;
    }
}