@import '../../sass/variables.scss';

.member{
    margin-top: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__name-image{
        display: flex;
        align-items: center;
        gap: 1rem;

        font-size: 1.3rem;

        .image{
            height: 4rem;
            border-radius: 50%;
        }
    }

    &__info{
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;

        .position{
            align-self: center;
        }

        .contact{
            margin-top: 1rem;

            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 3rem;

            &__btn{
                background-color: transparent;
                border: none;
                cursor: pointer;
            }
            .phone-icon{
                height: 1.851rem;
                width: 1.851rem;
            }
            .chat-icon{
                height: 1.986rem;
                width: 1.986rem;
            }
            .mail-icon{
                height: 1.642rem;
                width: 2.053rem;
            }

            .icon:hover{
                fill: $color-primary;
            }
        }
    }
}